# Node modules
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# Environment variables
.env

# Logs
logs
*.log
logs/*
pids
*.pid
*.seed
*.pid.lock

# Coverage
coverage/
*.lcov

# Build
dist/
build/

# IDE/editor specific
.vscode/
.idea/
.DS_Store
*.swp
